/* -- Custom Properties -- */
:root {
    /* -- Colors -- */
      --olive-green: #697a6e;
      --green-1:#81AB47;
      --lgreen-1: #AABA62;
      --lgreen-2: #A0CA92;
      --light-beige: #FFFBF2; /*background color*/
      --quick-silver: rgb(241, 241, 241);
      --davys-grey: hsla(30, 3%, 34%, 1);
      --smoky-black-1: hsla(40, 12%, 5%, 1);
      --eerie-black-1: hsla(210, 4%, 9%, 1);
      --eerie-black-2: hsla(210, 4%, 9%, 0.8);
      --smoky-white-1: #eae6e6;
      --white: hsla(0, 0%, 100%, 1);
      --white-alpha-20: hsla(0, 0%, 100%, 0.2);
      --white-alpha-10: hsla(0, 0%, 100%, 0.1);
      --black: hsla(0, 0%, 0%, 1);
      --black-alpha-80: hsla(0, 0%, 0%, 0.8);
      --black-alpha-15: hsla(0, 0%, 0%, 0.15);

    /* -- Gradients -- */
      --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-white-3) 33.33% 50%,  transparent 66.66% 75%);
      --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);

    /* -- Typography -- */
      /* font-family */
      --fontFamily-reem: 'Reem Kufi Fun', sans-serif;
      --fontFamily-open_sans: 'Open Sans', sans-serif;

      /* font-size */
      --fontSize-display-1: calc(1.3rem + 6.7vw);
      --fontSize-display-22: calc(1.3rem + 6.3vw);
      --fontSize-display-33: calc(6rem + 3vw);
      --fontSize-display-44: calc(1.2rem + 4vw);
      --fontSize-display-5: calc(3rem + 4.8vw);
      --fontSize-headline-1: calc(2rem + 2.5vw);
      --fontSize-headline-2: calc(1.3rem + 2.4vw);
      --fontSize-title-1: calc(1.6rem + 1.2vw);
      --fontSize-title-2: 2.2rem;
      --fontSize-title-3: 2.1rem;
      --fontSize-title-4: calc(1.6rem + 1.2vw);
      --fontSize-body-1: 2.4rem;
      --fontSize-body-2: 1.6rem;
      --fontSize-body-3: 1.8rem;
      --fontSize-body-4: 1.6rem;
      --fontSize-label-1: 1.4rem;
      --fontSize-label-2: 1.2rem;
      --fontSize-label-3: 1.7rem;

      /* font-weight */
      --weight-regular: 400;
      --weight-bold: 700;

      /* line-height */
      --lineHeight-1: 1em;
      --lineHeight-2: 1.2em;
      --lineHeight-3: 1.5em;
      --lineHeight-4: 1.6em;
      --lineHeight-5: 1.85em;
      --lineHeight-6: 1.4em;

      /* letter-spacing */
      --letterSpacing-1: 0.15em;
      --letterSpacing-2: 0.4em;
      --letterSpacing-3: 0.2em;
      --letterSpacing-4: 0.3em;
      --letterSpacing-5: 3px;

    /* -- Spacing -- */
      --section-space: 70px;

    /* -- Shadows -- */
      --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    /* -- Border Radius -- */
      --radius-24: 24px;
      --radius-circle: 50%;

    /* -- Transitions -- */
      --transition-1: 250ms ease;
      --transition-2: 500ms ease;
      --transition-3: 1000ms ease;

    --user-button-circle: rgba(0,0,0,0.025);
    --user-button-cardborder: rgba(255,255,255,0.25);
    --user-button-text:#323133;
    --user-button-shadow:rgba(0,0,0,0.1);
}

/* -- Reset -- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea { display: block; }

a {
    color: inherit;
    text-decoration: none;
}

img { height: auto; }

input,
button,
select,
textarea {
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea {
    width: 100%;
    outline: none;
}

button { cursor: pointer; }

address { font-style: normal; }

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-beige);
    color: var(--eerie-black-1);
    font-family: var(--fontFamily-open_sans);
    font-size: var(--fontSize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-5);
    overflow: hidden;

}

body.loaded { overflow: overlay; }

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb { background-color: var(--green-1); }

/* -- Typography -- */
.display-1,
.display-22,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4 {
    color: var(--eerie-black-1);
    font-family: var(--fontFamily-reem);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-2);
}
.display-1 {
    font-size: var(--fontSize-display-1);
    line-height: var(--lineHeight-2);
}
.display-22 {
    font-size: var(--fontSize-display-22);
    line-height: var(--lineHeight-2);
}
.display-44{
    font-size: var(--fontSize-display-44);
}
.headline-1 { font-size: var(--fontSize-headline-1); }
.headline-2 {
    font-size: var(--fontSize-headline-2);
    line-height: var(--lineHeight-6);
}
.title-1 { font-size: var(--fontSize-title-1); }
.title-2 { font-size: var(--fontSize-title-2); }
.title-3 { font-size: var(--fontSize-title-3); }

.title-4 { font-size: var(--fontSize-title-4); }

.body-1 {
    font-size: var(--fontSize-body-1);
    line-height: var(--lineHeight-6);
}

.body-2 {
    font-size: var(--fontSize-body-2);
    line-height: var(--lineHeight-4);
}

.body-3 { font-size: var(--fontSize-body-3); }

.body-4 { font-size: var(--fontSize-body-4); }

.label-1 { font-size: var(--fontSize-label-1); }

.label-2 { font-size: var(--fontSize-label-2); }

.caption-2{
    line-height: 22px;
    font-size: 1.5rem;
}

/* -- Reused Style -- */
.container { padding-inline: 16px; }

.separator {
    width: 8px;
    height: 8px;
    border: 1px solid var(--green-1);
    transform: rotate(45deg);
}

.contact-label { font-weight: var(--weight-bold); }

.contact-number {
    color: var(--green-1);
    max-width: max-content;
    margin-inline: auto;
}

.contact-number::after { bottom: -5px; }

.text-center { text-align: center; }

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-subtitle {
    position: relative;
    color: var(--green-1);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-2);
    margin-block-end: 12px;
}

.btn {
    position: relative;
    color: var(--smoky-white-1);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-5);
    max-width: max-content;
    border: 2px solid var(--green-1);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
    border-radius: 0px;
}

.btn::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: var(--radius-circle);
    background-color: var(--green-1);
    transition: var(--transition-2);
    z-index: -1;
}

.btn .text { transition: var(--transition-1); }

.btn .text-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: var(--smoky-white-1);
}

.btn2 {
    position: relative;
    color: var(--light-beige);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-5);
    max-width: max-content;
    border: 2px solid var(--green-1);
    padding: 12px 45px;
    overflow: hidden;
    background:var(--green-1);
    z-index: 1;
}
.btn2::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: var(--radius-circle);
    background-color: var(--green-1);
    transition: var(--transition-2);
    z-index: -1;
}
.btn2:hover{
    color:var(--green-1);
    background-color: var(--light-beige);
}

.btn:is(:hover, :focus-visible)::before { bottom: -50%; }

.btn:is(:hover, :focus-visible) .text-1 { transform: translateY(-40px); }

.btn:is(:hover, :focus-visible) .text-2 {
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-secondary {
    background-color: var(--green-1);
    color: var(--black);
}

.btn-secondary::before { background-color: var(--smoky-black-1); }

.btn-secondary .text-2 { color: var(--white); }


.btn-lg-square {
padding: 0;
display: flex;
align-items: center;
justify-content: center;
font-weight: normal;
width: 48px;
height: 48px;
}


.has-before,
.has-after {
    position: relative;
    z-index: 1;
}

.has-before::before,
.has-after::after {
    content: "";
    position: absolute;
}

.section {
    position: relative;
    padding-block: var(--section-space);
    overflow: hidden;
    z-index: 1;
}

.bg-black-10 { background-color: var(--smoky-black-1); }

.grid-list {
    display: grid;
    gap: 40px;
}

.hover\:shine { position: relative; }

.hover\:shine::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
    transform: skewX(-0.08turn) translateX(-180%);
}

.hover\:shine:is(:hover, :focus-within)::after {
    transform: skewX(-0.08turn) translateX(275%);
    transition: var(--transition-3);
}

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    overflow: hidden;
    background-color: var(--eerie-black-1);
}

.btn-text {
    color: var(--green-1);
    padding-block-end: 4px;
    margin-inline: auto;
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-3);
    font-weight: var(--weight-bold);
    transition: var(--transition-1);
}

.btn-text:is(:hover, :focus-visible) { color: var(--white); }

.shape {
    display: none;
    position: absolute;
    max-width: max-content;
    z-index: -1;
}

.text-3{
    color: var(--green-1);
    font-weight: var(--weight-regular);
}

.w-100 { width: 100%; }

.move-anim { animation: move 5s linear infinite; }

@keyframes move {
    0%,
    100% { transform: translateY(0); }

    50% { transform: translateY(30px); }
}

.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.input-field {
    background-color: var(--eerie-black-1);
    color: var(--white);
    height: 56px;
    padding: 10px 20px;
    border: 1px solid var(--white-alpha-10);
    margin-block-end: 20px;
    outline: none;
    transition: border-color var(--transition-2);
}

.input-field::placeholder { color: inherit; }

.input-field:focus { border-color: var(--green-1); }

.icon-wrapper {
    position: relative;
    margin-block-end: 20px;
}

.icon-wrapper .input-field {
    margin-block-end: 0;
    padding-inline-start: 40px;
    appearance: none;
    cursor: pointer;
}

.icon-wrapper ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    --ionicon-stroke-width: 50px;
    pointer-events: none;
}

.icon-wrapper ion-icon:first-child { left: 15px; }

.icon-wrapper ion-icon:last-child { right: 10px; }

.round-corner {
    border-radius: 4px;
}

.space-bottom {
    margin-bottom: 12px;
}

.flex{
    display: flex;
}
.white{
    color:white;
}
/*-------- PRELOAD --------*/
.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--green-1);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: var(--transition-2);
}
.preload > * { transition: var(--transition-1); }
.preload.loaded > * { opacity: 0; }
.preload.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
}
.circle {
    width: 112px;
    height: 112px;
    border-radius: var(--radius-circle);
    border: 3px solid var(--white);
    border-block-start-color: var(--smoky-black-1);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
}

.preload .text {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 14px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.9px var(--smoky-white-1);
    animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
    0% { background-position: 100%; }
    100% { background-position: 0%; }
}

/* -- Topbar -- */
.topbar { display: none; }

/* -- Notif Bar -- */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}

/* -- Header -- */
.header .btn { display: none; }
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding-block: 40px;
    z-index: 4;
    border-block-end: 1px solid transparent;
    transition: var(--transition-1);
}
.header.active {
    padding-block: 20px;
    background-color: var(--eerie-black-2);
    border-color: var(--black-alpha-15);
}
.header.hide {
    transform: translateY(-100%);
    transition-delay: 250ms;
}
.apply-header.hide {
    transform: translateY(-100%);
    transition-delay: 250ms;
}
.header .container {
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.nav-open-btn {
    padding: 12px;
    padding-inline-end: 0;
}
.nav-open-btn .line {
    width: 30px;
    height: 2px;
    background-color: var(--smoky-white-1);
    margin-block: 4px;
    transform-origin: left;
    animation: menuBtn 900ms ease-in-out alternate infinite;
}

@keyframes menuBtn {
    0% { transform: scaleX(1); }
    100% { transform: scaleX(0.5); }
}

.nav-open-btn .line-2 { animation-delay: 150ms; }
.nav-open-btn .line-3 { animation-delay: 300ms; }
.navbar {
    position: fixed;
    background-color: var(--smoky-black-1);
    top: 0;
    left: -360px;
    bottom: 0;
    max-width: 360px;
    width: 100%;
    padding-inline: 30px;
    padding-block-end: 50px;
    overflow-y: auto;
    visibility: hidden;
    z-index: 2;
    display:block;
    transition: var(--transition-2);
    color: var(--smoky-white-1);
}
.navbar.active {
    visibility: visible;
    transform: translateX(360px);
}
.navbar .close-btn {
    color: var(--smoky-white-1);
    border: 1px solid currentColor;
    padding: 4px;
    border-radius: var(--radius-circle);
    margin-inline-start: auto;
    margin-block: 30px 20px;
}
.navbar .close-btn ion-icon { --ionicon-stroke-width: 40px; }
.navbar .close-btn:is(:hover, :focus-visible) { color: var(--green-1); }
.navbar .logo {
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 60px;
}
.navbar-list {
    border-block-end: 1px solid var(--eerie-black-1);
    margin-block-end: 30px;
}
.navbar-item { border-block-start: 1px solid var(--smoky-white-1); }
.navbar-link {
    position: relative;
    font-size: var(--fontSize-label-1);
    text-transform: uppercase;
    padding-block: 10px;
    max-width: unset;
    color:var(--smoky-white-1);
}
.navbar-link::after { display: none; }
.navbar-link .span { transition: var(--transition-1); }
.navbar-link:is(:hover, :focus-visible, .active) .span {
    color: #b5e079;
    transform: translateX(20px);
}
.navbar-link .separator {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
    transition: var(--transition-1);
}
.navbar-link:is(:hover, :focus-visible, .active) .separator { opacity: 1; }
.navbar-title { margin-block-end: 15px; }
.navbar-text { margin-block: 10px; }
.navbar .body-4 { color: var(--quick-silver); }
.sidebar-link { transition: var(--transition-1); }
.sidebar-link:is(:hover, :focus-visible) { color: var(--green-1); }
.navbar .text-center .separator {
    margin-block: 30px;
    margin-inline: auto;
}
.navbar .contact-label { margin-block-end: 10px; }
.navbar::-webkit-scrollbar-thumb { background-color: var(--eerie-black-1); }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--black-alpha-80);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-2);
    z-index: 1;
}
.overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* -- Hero -- */
.hero .slider-btn { display: none; }
.hero {
    position: relative;
    padding-block: 120px;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
}
.careers {
    min-height: 90vh;
}
.hero .slider-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    padding-block-start: 100px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-3);
    z-index: 1;
}
.hero .slider-item.active {
    opacity: 1;
    visibility: visible;
}
.hero .slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    pointer-events: none;
    user-select: none;
    z-index: -1;
}
.careers .slider-bg{
    height:90vh;
}
.hero .slider-item.active .slider-bg {
    animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
    0% { transform: scale(1); }
    100% { transform: scale(1.15); }
}

.hero-text { margin-block: 10px 40px; }
.hero .btn { margin-inline: auto; }
.careers .btn {
    margin-inline: 0;
    margin-top:2%;
}
.hero-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    background-color: var(--green-1);
    width: 110px;
    height: 110px;
    padding: 12px;
    transform: scale(0.6);
}
.hero-btn img {
    margin-inline: auto;
    margin-block-end: 6px;
}
.hero-btn .span {
    color: var(--black);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-1);
    line-height: var(--lineHeight-3);
}
.hero-btn::after {
    inset: 0;
    border: 1px solid var(--green-1);
    animation: rotate360 15s linear infinite;
}
.slider-reveal {
    transform: translateY(30px);
    opacity: 0;
}
.hero .slider-item.active .slider-reveal {
    animation: sliderReveal 1s ease forwards;
}

@keyframes sliderReveal {
    0% {
    transform: translateY(30px);
    opacity: 0;
    }

    100% {
    transform: translateY(0);
    opacity: 1;
    }
}

.hero .slider-item.active .section-subtitle { animation-delay: 500ms; }
.hero .slider-item.active .hero-title { animation-delay: 1000ms;  }
.hero .slider-item.active .hero-text { animation-delay: 1.5s; }
.hero .slider-item.active .btn { animation-delay: 2s; }
.hero .display-22,
.hero .body-2,
.hero .headline-1,
.hero .display-44{
    color: var(--smoky-white-1);
}

/* -- FOOTER -- */
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 3% 0px 0px 0px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
}
.footer > * {
    flex:  1 100%;
}
.footer__addr {
    margin-right: 1.25em;
    margin-left: 2em;
    margin-bottom: 2em;
}
.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}
.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}
.nav__title {
    font-weight: 400;
    font-size: 15px;
}
.footer address {
    font-style: normal;
    color: #999;
}
.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}
.footer ul {
list-style: none;
padding-left: 0;
}
.footer li {
line-height: 2em;
}
.footer a {
text-decoration: none;
}
.footer__nav {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2em;
}
.footer__nav > * {
flex: 1 50%;
margin-right: 1.25em;
}
.nav__ul a {
color: #999;
}
.nav__ul--extra {
column-count: 2;
column-gap: 1.25em;
}
#socials {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16%;
    grid-column-gap: 1%
}
#socials a {
    width:40px;
    height:40px;
    color:black;
    border-radius:10px;
    text-align:center;
    text-decoration:none;
    position: relative;
    display: inline-block;
    margin:0 2px;
}
#socials i{
    font-size: 20px;
    line-height: 40px;
}
#socials a:hover {
    background: #ebebeb;
}
#copyright{
    padding:1% 2%;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
}
#copyright p{
    margin:0;
}

/* --------- INDEX.HTML --------- */
/* -- STATS COUNTER 1 -- */
.stats1{
    margin-inline:auto;
    font-family: var(--fontFamily-reem);
}
.stats1 .value {
    font-size: var(--fontSize-display-33);
}
.stats1 .counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height: 20vh;
}
.stats1 .section-text{
    margin-top: 2%;
    font-size: var(--fontSize-body-2);
    margin-inline:10px;
    word-spacing: 2px;
}
.stats1 .comma{
    font-size: var(--fontSize-display-22);
    margin-inline: 10px;
}

/* -- GOALS -- */
.goals{
    background-color: var(--quick-silver);
    padding-top: 5%;
}
.goals h1{
    font-size: var(--fontSize-title-1);
}
.goals h5{
    font-size: var(--fontSize-body-2);
}
.goalGrid{
    margin-top: 2%;
}
.goals .headline-2{
    line-height: 5.5rem;
}
.goalStat{
    padding-left:2%;
    padding-right:2%;
}
.goals .container{
    margin:auto;
}
.goals span{
    line-height: 2.5rem;
}

/* -- TESTIMONIAL -- */
.testimony {
    background-color: var(--green-1);
    color: var(--smoky-white-1);
    margin:auto;
    padding-bottom:4%;
    padding-top: 4%;
}
.testimony .flex{
    justify-content:center;
    align-items:center;
    gap:5%;
}
.testimony h3{
    color: white;
    font-size: var(--fontSize-body-1);
    line-height: 5rem;
    font-family: var(--fontFamily-reem);
}
.signDetails{

    text-align: left;
    margin-top:0.5%;
}
.signDetails p{
    line-height: 2.5rem;
}
.animatedSign svg{
    height:13vh;
}
.testimony path,
.testimony line {
    fill: none;
    stroke: var(--smoky-white-1);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.testimony .stroke-I {
    stroke-dasharray: 80;
    animation: write1 2s 1 ease-out;
}
.testimony .stroke-an {
    stroke-dasharray: 360;
    animation: write2 2s 1 ease-in-out;
}
.testimony .stroke-flourish {
    stroke-dasharray: 40;
    animation: write3 2s 1 ease-in;
}

/*  keyframes */
@keyframes write1 {
    0% {
        stroke-dashoffset: 80;
    }
    20% {
        stroke-dashoffset: 0;
    }
}
@keyframes write2 {
    0%, 25%  {
        stroke-dashoffset: 360;
    }
    90% {
        stroke-dashoffset: 0;
    }
}
@keyframes write3 {
    0%, 90% {
        stroke-dashoffset: 40;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/* -- About -- */
.about h1{
    font-size: var(--fontSize-body-1);
}
.about p{
    line-height: 3rem;
}
.green{
    color: var(--green-1);
}
.about-text{
    padding:2% 3%;
    margin-top:2%;
    margin-bottom: 2%;

}

/* -- BENEFITS -- */
.benefits h1{
    font-size: var(--fontSize-body-1);
}
.benefits h4{
    font-size: var(--fontSize-body-1);
    color: var(--green-1);
}
.benefits p{
    line-height: 2.5rem;
}
.benefits{
    background-color: #f7f7f7;
    padding:5% 5%;
}
.benefit-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    background: white;
    margin-left:2%;
    margin-right: 2%;
}
.benefit-icon {
    position: relative;
    margin: -50px 0 5px 0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green-1);
    background: #FFFFFF;
    border-radius: 100px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}
.benefit-item:hover .benefit-icon {
    color: #FFFFFF;
    background: var(--green-1);
}

/* -- FEATURED -- */
.features{
    padding-bottom:4.5%;
}
.features img {
    width: 100px;
    height: 100px;
    animation: scroll 60s linear infinite;
}
.features .slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
}
.features .slider {
    padding: 2em 4em;
}
@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
}

/* -- BETTER -- */
.better{
    background-color: var(--quick-silver);
}
.better h1{
    font-size: var(--fontSize-body-1);
}
.better p{
    line-height: 3rem;
}
.better-text{
    padding:2% 4%;
}
.better .ms-4 p{
    font-size: var(--fontSize-body-4);
}
.better .ms-4 h5{
    font-size: var(--fontSize-body-2);
}

/* -- JOIN US -- */
.join{
    padding:5%;
    background-color: var(--green-1);
    color: white;
}
.join .section-subtitle{
    color:  var(--quick-silver);
}
.join h1{
    color: white;
}
.join p{
    margin-bottom: 0;
}
.join form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.join form input {
    width: 90%;
    border: 0;
    border-bottom: 1px solid white;
    font-size: var(--fontSize-body-4);
    font-weight: 300;
    color: white;
    letter-spacing: 0.11em;
}
.join form input::placeholder {
    color: white;
    font-size: var(--fontSize-body-4);
}
.join form input:focus {
    outline: 0;
    border-bottom: 1px solid white;
    transition: 0.6s all ease;
}
.join .btn2{
    width:90%;
    max-width:none;
    background-color: var(--light-beige);
    color: var(--lgreen-1);
}
.join .btn2:hover{
    background-color: var(--quick-silver);
}


/* ---------- CAREERS PAGE ---------- */
.careersCounters{
    padding:1% 5%;
    background-color: var(--quick-silver);
    color:var(--smoky-black-1);
}
.careersCounters h1{
    color: var(--green-1);
}

/* -- VALUES -- */
.values{
    padding:5%;
    background-color: var(--quick-silver);
    padding-bottom: 4%;
}
.valueImg{
    width:200px;
    margin:auto;
    padding-bottom: 4%;
}
.values .row p{
    padding-left:10%;
    padding-right:10%;
}

/* -- GIVE ACCORDION -- */
.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}
.item:hover {
    flex: 7;
}
.item-1 {
    background-image: url("media/team/25.jpeg");
}
.item-2 {
    background-image: url("media/team/26.jpeg");
}
.item-3 {
    background-image: url(media/team/27.jpeg);
}
.item-4 {
    background-image: url(media/team/28.jpeg);
}
.item-5 {
    background-image: url(media/team/29.jpeg);
}
.give .about-text{
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin-top:2%;
}
.gallery-wrap h1{
    text-align:center;
    margin-top:3em;
    color: white;
    font-family: var(--fontFamily-reem);
}

/* -- PERKS -- */
.benefitSplitGrid{
    display: grid;
    grid-template-columns: 5% 80%;
    grid-column-gap: 1%;
  }
.perks{
    padding-bottom:0%;
    background-color: var(--quick-silver);
}
.perkImg{
    width:30em;
    margin:auto;
}
.perks .demo-cont{
    text-align: left;
}
#slideshow {
    overflow: hidden;
    height: 60vh;
    width: 100vw;
    margin: 3% auto;
    margin-bottom: 0%;
}
.pslide {
    float: left;
    height: 60vh;
    width: 100vw;
}
.slide-wrapper {
    width: calc(100vw * 4);
    animation: slide 40s ease infinite;
}
.pslide:nth-child(1) {
    background-color: var(--quick-silver);
}
.pslide:nth-child(2) {
    background-color: var(--quick-silver);
}
.pslide:nth-child(3) {
    background-color: var(--quick-silver);
}
.pslide:nth-child(4) {
    background-color: var(--quick-silver);
}
@keyframes slide {
    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-100vw * 1);
    }

    60% {
        margin-left: calc(-100vw * 2);
    }

    80% {
        margin-left: calc(-100vw * 3);
    }
}

/* -- COLLAGE -- */
.collage{
    width:100%;
}

/* -- READY -- */
.ready {
    background-color: var(--green-1);
    padding-top:4%;
    padding-bottom:4%;
    color: white;
}
.ready .section-subtitle{
    color:var(--light-beige);
}
.ready h1{
    color:white;
}
.ready .btn2{
    margin:auto;
    margin-top: 2%;
    background-color: var(--light-beige);
    color:var(--green-1);
}
.ready .btn2:hover{
    background-color: var(--smoky-white-1);
}


/* ----------- JOB BOARD PAGE ---------------- */
#element{
    font-size: var(--fontSize-display-5);
    color:white;
    font-family: var(--fontFamily-reem);
}
.careerCoverText{
    margin-top:0%;
}

/* -- filters -- */
.filter{
    width: 300px;
    border: 1px solid black;
    border-radius: 25px;
    padding:3% 5%;
    font-size: var(--fontSize-body-4);
    color:var(--smoky-black-1);
    background: white;
    appearance: none;
    margin-inline-end: 1em;
}
.filter:hover,
.filter:focus {
    background: var(--green-1);
    color:white;
}
.jFilters{
    margin:5% 5%;
}
#filters-form {
    height:10vh;
}
#search-form{
    height:14vh;
    text-align: center;
}
.searchBar{
    font-size: var(--fontSize-body-4);
    border: 1px solid black;
    border-radius: 25px;
    padding:1% 3%;
    color:var(--smoky-black-1);
    background: white;
}
#search-form .btn{
    margin: auto 10%;
}
#filters-form .col-lg-4{
    height:10vh;
}

/* -- JOB CARDS -- */
.jobCard{
    border:2px solid black;
    border-radius:15px;
    margin:1% 5%;
    margin-left:0%;
    margin-right: 0%;
}
.openJob{
    padding: 1% 1%;
    margin: auto 0%;
}
.jobCard a{
    color:black;
}
.jobCard a:hover{
    color:var(--green-1);
}
.location h3, .workType h3{
    display: inline;
}
.jobCard h1{
    margin: 1% auto;
    font-size: var(--fontSize-body-1);
}
.jobCard h1:hover{
    color:#6a9401;
}
.jobCard p{
    margin: 1% auto;
    margin-bottom: 2%;
    line-height: 22px;
    font-size: var(--fontSize-body-4);
    padding-right:10%;
}
.jobCategory h3{
    text-align:center;
    margin:0%;
    color:var(--light-beige);
}
.jobCategory{
    background:var(--green-1);
    margin-top:5%;
    margin-left:15%;
    margin-right: 15%;
    border-radius: 25px;
    padding:15px 0px;
    padding-right:10px;
    padding-left:5px;
}
.hidden{
    display: none;
}
.jFilters .tags h3{
    padding-left:5%;
}
.jobNotif{
    margin-bottom: 5%;
}


/* -- ABOUT PAGE -- */
.why{
    background-color: var(--light-beige);
}
.thrive{
    background-color: var(--green-1);
    padding:5% 8%;
}
.thrive h2{color:white;}
.thrive p{
    color:white;
    padding-bottom: 5%;
}
.thriveImg{
    width:95%;
    border-radius: 25px;
    margin-top: 5%;
}
.margin-up{
    margin-top:-5%;
}
.ourTeam{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}
.ourTeam img{
    width:100%;
    margin:5%;
    margin-left:0%;
    margin-right:0%;
}
.ourTeam .col-sm-3{
    padding:2% 3%;
    padding-top:0%;

}
.ourName{
    background: var(--green-1);
    color:white;
}
.ourName .section-subtitle,
.ourName h1{
    color:var(--light-beige);
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: #000;
}
.aboutImgGrid{
    display: grid;
    place-items: center;
    height: 60vh;
    overflow-x: hidden;
    font-family: "Grand Slang";
    font-weight: 400;
    font-size: normal;
    background-color: var(--light-beige);
}
.image-grid {
pointer-events: none;
position: absolute;
width: 110%;
height: 110%;
top: -5%;
left: -5%;
display: grid;
grid-template-columns: repeat(50, 2%);
grid-template-rows: repeat(50, 2%);
}
.image-grid__item {
opacity: 1;
position: relative;
}
.image-grid img {
will-change: transform;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
opacity: 1;
}

.pos-1 {
grid-area: 10/1/36/8;
}

.pos-2 {
grid-area: 1/21/17/30;
}

.pos-3 {
grid-area: 1/36/14/42;
}

.pos-4 {
grid-area: 10/10/42/17;
}

.pos-5 {
grid-area: 20/35/35/45;
}

.pos-6 {
grid-area: 20/46/28/51;
}

.pos-7 {
grid-area: 43/1/51/10;
}

.pos-8 {
grid-area: 28/14/91/24;
}

.pos-9 {
grid-area: 20/26/51/32;
}

.pos-10 {
grid-area: 37/39/48/47;
}

/* -- CONTACT PAGE -- */
.contact .slider-item{
    justify-content: flex-start;
}
.contact h1{
    margin-left:15%;
    width:100%;
    color:var(--light-beige);
}
.contactForm{
    margin: 5%;
    padding: auto 5%;
}
.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm select,
.contactForm textArea {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 4px);
    margin:0em;
    margin-bottom: 0.5em;
    padding: 1.4rem 1em;
    border: 2px solid black;
    border-radius: 1em;
    background: #fff;
    resize: none;
    outline: none;
    font-size: var(--fontSize-body-4);
  }
  .contactForm form{
    padding:0% 5%;
  }
.cText{
    display: flex;
    align-items:center;
}
.contactForm h1{
    color:var(--green-1);
}
.contact.hero .slider-item.active .hero-title { animation-delay: 1000ms; margin-top:20%; }
.contactForm .btn2{
    max-width:none;
    text-align: center;
    width:100%;
    margin-top:5%;
}
#otherContact{
    padding:5% 5%;
    background:var(--quick-silver);
    color:var(--green-1);
}
.otherGrid{
    display: grid;
    grid-template-columns: 25% 25% 30%;
    grid-column-gap: 10%;
    color:var(--green-1);
}
.margB-5{
    margin-bottom:5%;
}
  .otherGrid h3{
    border-bottom: 1px solid black;
    padding-bottom: 5%;
    color:var(--green-1);
  }
  .otherGrid a{
    color:black;
    font-size: 16px;
    letter-spacing: 1.5px;
    
  }
  #otherContact h1{color:var(--green-1); font-weight: bold;}
  .otherGrid a:hover{
    text-decoration: underline;
  }
  @media only screen and (max-width: 992px){
    .otherGrid{
      display: grid;
      grid-template-columns: 100%;
      grid-column-gap: 10%;
      margin-bottom: 5%;
    }
    #otherContact h1{
      font-size:1.75rem;
    }
    .otherGrid a{
      color:black;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
  



/*------------- SOLUTIONS PAGE -----------*/
.methodsBanner .hero-title{
    margin-top: 0;
}
.methods{
    padding:5%;
    padding:5% 5%;
    text-align:center;
    
}
.methods p{
    padding-left: 10%;
    padding-right:10%;
    margin-bottom:3%;
}
.methods .headline-2{
    color:var(--green-1);
    margin-bottom: 1%;
}
 .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 1200px;
    width: calc(100%-100px);
    height: 400px;
    text-align:left;
    margin:auto;
  }
@media screen and (max-width: 718px) {
     .options {
      min-width: 520px;
    }
    .options .option:nth-child(5) {
      display: none;
    }
  }
  @media screen and (max-width: 638px) {
    .options {
      min-width: 440px;
    }
   .options .option:nth-child(4) {
      display: none;
    }
  }
  @media screen and (max-width: 558px) {
   .options {
      min-width: 360px;
    }
   .options .option:nth-child(3) {
      display: none;
    }
  }
  @media screen and (max-width: 478px) {
   .options {
      min-width: 280px;
    }
   .options .option:nth-child(2) {
      display: none;
    }
  }
 .options .option {
    position: relative;
    overflow: hidden;
    min-width: 7vw;
    margin: 10px 20px;
    background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
 .options .option:nth-child(1) {
    --defaultBackground:#ED5565;
  }
 .options .option:nth-child(2) {
    --defaultBackground:#FC6E51;
  }
 .options .option:nth-child(3) {
    --defaultBackground:#FFCE54;
  }
 .options .option:nth-child(4) {
    --defaultBackground:#2ECC71;
  }
 .options .option:nth-child(5) {
    --defaultBackground:#5D9CEC;
  }
 .options .option:nth-child(6) {
    --defaultBackground:#AC92EC;
  }
 .options .option.methodActive {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 40px;
    background-size: auto 100%;
  }
 .options .option.methodActive .shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
 .options .option.methodActive .label {
    bottom: 48vh;
    left: 20px;
  }
 .options .option.methodActive .label .info > div {
    left: 0px;
    opacity: 1;
  }
 .options .option:not(.methodActive) {
    flex-grow: 1;
    border-radius: 30px;
  }
 .options .option:not(.methodActive) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
 .options .option:not(.methodActive) .label {
    bottom: 25px;
    left: 25px;
  }
 .options .option:not(.methodActive) .label .info > div {
    left: 20px;
    opacity: 0;
  }
 .options .option .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
 .options .option .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
 .options .option .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
    margin-top: 0%;
  }
 .options .option .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: black;
    white-space: pre;
  }
 .options .option .label .info > div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
  }
 .options .option .label .info .main {
    font-weight: bold;
    font-size: 1.2rem;
  }
 .options .option .label .info .sub {
    transition-delay: 0.1s;
    line-height: 22px;
  }
/* -- METHODS -- */
.geMethod{
    margin-top:3%;
    margin-bottom: 3%;
    background-color: var(--quick-silver);
}
.geMethod .ms-4 h5{
    font-size: var(--fontSize-body-2);
}
.geMethod .btn-lg-square{
    margin:5%;
    padding:5%;
    margin-left: 0%;
    margin-right: 3%;
    margin-top:0%;
}
.geMethod img{
    padding:5% 5%;
    background-color: var(--green-1);
}

/* -- GET QUOTE -- */
.getQuote{
    padding:5%;
    background-color: var(--green-1);
}
.getQuote p,
.getQuote h2 {
    padding:0% 15%;
    color:white;
}
.getQuote .section-subtitle {
    color:var(--light-beige);
}
.getQuote .btn2{
    margin:auto;
    margin-top: 2%;
    background-color: var(--light-beige);
    color:var(--green-1);
}
.getQuote .btn2:hover{
    background-color: var(--smoky-white-1);
}

/* ----- congrats page ------- */

.confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .confetti-piece {
    position: absolute;
    width: 8px;
    height: 16px;
    background: #ffd300;
    top: 0;
    opacity: 0;
  }
  .confetti-piece:nth-child(1) {
    left: 7%;
    transform: rotate(48deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 427ms;
            animation-delay: 427ms;
    -webkit-animation-duration: 1171ms;
            animation-duration: 1171ms;
  }
  .confetti-piece:nth-child(2) {
    left: 14%;
    transform: rotate(-52deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 199ms;
            animation-delay: 199ms;
    -webkit-animation-duration: 1058ms;
            animation-duration: 1058ms;
  }
  .confetti-piece:nth-child(3) {
    left: 21%;
    transform: rotate(16deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 163ms;
            animation-delay: 163ms;
    -webkit-animation-duration: 897ms;
            animation-duration: 897ms;
  }
  .confetti-piece:nth-child(4) {
    left: 28%;
    transform: rotate(-39deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 443ms;
            animation-delay: 443ms;
    -webkit-animation-duration: 1076ms;
            animation-duration: 1076ms;
  }
  .confetti-piece:nth-child(5) {
    left: 35%;
    transform: rotate(36deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 64ms;
            animation-delay: 64ms;
    -webkit-animation-duration: 1112ms;
            animation-duration: 1112ms;
  }
  .confetti-piece:nth-child(6) {
    left: 42%;
    transform: rotate(12deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 21ms;
            animation-delay: 21ms;
    -webkit-animation-duration: 1181ms;
            animation-duration: 1181ms;
  }
  .confetti-piece:nth-child(7) {
    left: 49%;
    transform: rotate(9deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 290ms;
            animation-delay: 290ms;
    -webkit-animation-duration: 1055ms;
            animation-duration: 1055ms;
  }
  .confetti-piece:nth-child(8) {
    left: 56%;
    transform: rotate(-65deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 296ms;
            animation-delay: 296ms;
    -webkit-animation-duration: 916ms;
            animation-duration: 916ms;
  }
  .confetti-piece:nth-child(9) {
    left: 63%;
    transform: rotate(-2deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 370ms;
            animation-delay: 370ms;
    -webkit-animation-duration: 828ms;
            animation-duration: 828ms;
  }
  .confetti-piece:nth-child(10) {
    left: 70%;
    transform: rotate(58deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 134ms;
            animation-delay: 134ms;
    -webkit-animation-duration: 733ms;
            animation-duration: 733ms;
  }
  .confetti-piece:nth-child(11) {
    left: 77%;
    transform: rotate(23deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 367ms;
            animation-delay: 367ms;
    -webkit-animation-duration: 923ms;
            animation-duration: 923ms;
  }
  .confetti-piece:nth-child(12) {
    left: 84%;
    transform: rotate(6deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 0ms;
            animation-delay: 0ms;
    -webkit-animation-duration: 949ms;
            animation-duration: 949ms;
  }
  .confetti-piece:nth-child(13) {
    left: 91%;
    transform: rotate(-75deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
            animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 137ms;
            animation-delay: 137ms;
    -webkit-animation-duration: 971ms;
            animation-duration: 971ms;
  }
  .confetti-piece:nth-child(odd) {
    background: #17d3ff;
  }
  .confetti-piece:nth-child(even) {
    z-index: 1;
  }
  .confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    -webkit-animation-duration: 2000ms;
            animation-duration: 2000ms;
  }
  .confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    -webkit-animation-duration: 2500ms;
            animation-duration: 2500ms;
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms;
  }
  .confetti-piece:nth-child(4n-7) {
    background: #ff4e91;
  }
  
  @-webkit-keyframes makeItRain {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(200px);
    }
  }
  
  @keyframes makeItRain {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(200px);
    }
  }



.center{
    justify-content: center;
    align-self: center;
}


/* -- Top Btn -- */
.back-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--green-1);
    color: var(--smoky-white-1);
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: var(--radius-circle);
    display: grid;
    place-items: center;
    box-shadow: var(--shadow-1);
    transition: var(--transition-1);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}
.back-top-btn:is(:hover, :focus-visible) {
    background-color: var(--eerie-black-1);
    color: var(--green-1);
}
.back-top-btn.active {
    opacity: 1;
    visibility: visible;
}

/* ----------------- Media Queries ----------------- */

/* -- Responsive for larger than 575px -- */
@media (min-width: 575px) {
    /* -- Custom Properties -- */
    :root {
        /* -- Typography -- */
        --fontSize-body-2: 2rem;
    }

    .contact-number { --fontSize-body-1: 3rem; }

    /* -- Top Bar -- */
    .topbar {
        display: block;
        position: fixed;
        background-color: var(--green-1);
        color: var(--smoky-white-1);
        top: 0;
        left: 0;
        width: 100%;
        padding-block: 10px;
        border-block-end: 1px solid var(--white-alpha-20);
        z-index: 4;
        transition: var(--transition-1);
    }
    .topbar p{
        margin-bottom:0;
    }
    .topbar:has(~ .header.active) { transform: translateY(-100%); }
    .topbar-item:not(.link),
    .topbar .separator { display: none; }
    .topbar .container,
    .topbar-item {
        display: flex;
        align-items: center;
    }
    .topbar .container {
        justify-content: center;
        gap: 30px;
    }
    .topbar-item { gap: 6px; }
    .topbar-item ion-icon { --ionicon-stroke-width: 60px; }
    .topbar-item .span { font-size: var(--fontSize-label-1); }
    .topbar .link { transition: var(--transition-1); }
    .topbar .link:is(:hover, :focus-visible) { color: var(--green-1); }

    /* -- Header -- */
    .header { top: 51px; }
    .header.active { top: 0; }
    .header .btn {
        display: block;
        margin-inline-start: auto;
    }
    .header-button{
        display: none;
    }

    /* -- Hero -- */
    .hero-btn { transform: scale(0.7); }
}

/* -- Responsive for smaller than 575px -- */
@media (max-width: 575px) {
    .header-button{
        display: none;
    }
    .job-openings{
        padding: 0px;
        background: var(--smoky-black-1) url("../images/footer-form-bg.png");
        background-position: center top;
        background-repeat: repeat;
    }
    .jobtable{
        font-size: x-small;
        line-height: 1.4em;
    }
    .about-text{
        padding:4% 5%;
    }
    #Apply{
        padding-top: 30px;
    }
    .form .radio-group input[type="radio"] {
        margin-right: 5px;
        width: 3% !important;
        display: inline-block !important;
    }
    .footer__addr, .footer__nav{
        margin:5% 0;
    }
    .footer__addr{
        margin-bottom: 0;
    }
    #copyright p{
        margin:0 5%;
    }
    .nav__item{
        margin-bottom: 2%;
    }
    .goalGrid{
        padding: 5%;
    }
    .give{
        margin-bottom:5%;
    }

}

/* -- Responsive for larger than 768px -- */
@media (min-width: 768px) {
    /* -- Reused Style -- */
    .grid-list { grid-template-columns: 1fr 1fr; }
    :is(.service, .event) .container { max-width: 820px; }
    :is(.service, .event) .grid-list li:last-child {
        grid-column: 1 / 3;
        width: calc(50% - 20px);
        margin-inline: auto;
    }

    /* -- Header -- */
    .navbar-list { margin-inline: 30px; }
    .header-button{
        display: none;
    }

    /* -- Hero -- */
    .hero .slider-btn {
        display: grid;
        position: absolute;
        z-index: 1;
        color: var(--green-1);
        font-size: 2.4rem;
        border: 1px solid var(--green-1);
        width: 45px;
        height: 45px;
        place-items: center;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: var(--transition-1);
    }
    .hero .slider-btn ion-icon { transform: rotate(-45deg); }
    .hero .slider-btn.prev { left: 30px; }
    .hero .slider-btn.next { right: 30px; }
    .hero .slider-btn:is(:hover, :focus-visible) {
        background-color: var(--green-1);
        color: var(--black);
    }

    #copyrights{
        padding-top: 200px;
        padding-bottom: 20px;
    }
    .give{
        margin-bottom:5%;
    }
}

/* -- Responsive for screen larger than 992px -- */
@media (min-width: 992px) {
    /* -- Custom Property -- */
    :root {
        /* -- Spacing -- */
        --section-space: 100px;
    }

    /* -- Reused Style -- */
    :is(.service, .event) .container { max-width: unset; }
    :is(.service, .event) .grid-list { grid-template-columns: repeat(3, 1fr); }
    :is(.service, .event) .grid-list li:last-child {
        grid-column: auto;
        width: 100%;
    }

    /* -- Topbar -- */
    .topbar-item:not(.link) { display: flex; }
    .topbar .item-2 { margin-inline-end: auto; }
    .give{
        margin-bottom:0%;
    }
    .fnc-slider {
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        height: 80vh;
    }
    .fnc-slider__slides {
        position: relative;
        height: 80vh;
        transition: transform 1s 0.6666666667s;
    }
    .demo-cont {
        overflow: hidden;
        position: relative;
        height: 80vh;
        perspective: 1500px;
    }

}

/* -- Responsive for screen larger than 1200px -- */
@media (min-width: 1200px) {
    /* -- Custom Property -- */
    :root {
        /* -- Typography -- */
        --fontSize-title-2: 2.5rem;
    }

    /* -- Reduced Style -- */
    .container,
    :is(.service, .event) .container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    }

    /* -- Topbar -- */
    .topbar .container { max-width: unset; }
    .topbar .separator { display: block; }

    /* -- Header -- */
    .nav-open-btn,
    .navbar > *:not(.navbar-list),
    .header .overlay { display: none; }
    .header .container { max-width: unset; }

    .navbar,
    .navbar.active,
    .navbar-list { all: unset; }
    .navbar,
    .navbar.active {
        margin-inline: 2%;
        margin-inline-start: auto;
    }
    .navbar-list {
        display: flex;
        gap: 30px;
    }
    .navbar-item { border-block-start: none; }
    .navbar .separator { display: none; }
    .navbar-link:is(:hover, :focus-visible, .active) .span {
        transform: unset;
    }
    .navbar-link {
        font-weight: var(--weight-bold);
        letter-spacing: var(--letterSpacing-1);
    }
    .navbar-link::after { display: block; }
    .navbar-link.active::after {
        transform: scaleX(1);
        opacity: 1;
    }
    .header .btn { margin-inline-start: 0; }
    .header-button{
        display: block;
    }

    /* -- Hero -- */
    .hero { height: 880px; }
    .hero-btn {
        bottom: 50px;
        right: 50px;
        transform: scale(1);
    }
    .careers {
        height: 90vh;
    }
}

/* -- responsive for larger than 1400px screen -- */
@media (min-width: 1400px) {
    .job-openings{
        padding: 50px;
        background: var(--smoky-black-1) url("../images/footer-form-bg.png");
        background-position: center top;
        background-repeat: repeat;
    }
    .top-margin{
        margin-top: 18rem !important
    }
    .space::after{
        content: url('../images/separator.svg');
        display: block;
        width: 100px;
        margin-inline: auto;
        margin-block-start: 5px;
    }

    .jobtable{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        margin-top: 40px;
    }
    .no-wrap{
        display: inline-block;
        color: var(--green-1);
    }
    .no-wrap:hover{
        color: #fff;
        transition: 0.5s;
    }
    #application .logo {
        max-width: max-content;
        margin-inline: auto;
        margin-block-end: 40px;
        padding-top: 40px;
    }
    .apply-nav-side{
        background-color: #D97C2B;
        background-color: var(--green-1);
        bottom: 0;
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        transform: translateX(50%);
        transition: all .3s cubic-bezier(.4,0,.2,1) 0ms;
        width: 50%;
    }
    .head-options {
        -webkit-tap-highlight-color: transparent;
        align-items: center;
        color: #88929e;
        color: var(--color-input-muted,#88929e);
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        text-decoration: none;
        text-transform: uppercase;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .job-heading{
        position: relative;
        font-weight: var(--weight-bold);
        text-transform: uppercase;
        letter-spacing: var(--letterSpacing-2);
        margin-block-end: 12px;
    }
    .job-heading::after {
        display: block;
        width: 100px;
        margin-inline: auto;
        margin-block-start: 5px;
    }
    .jobrow{
        color: var(--green-1);
    }
    .jobrow:hover{
        color: var(--light-golden);
        transition: 0.5s;
    }
    .apply-navbar {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 600px;
        position: relative;
        width: 100%;
    }
    .head-options {
        -webkit-tap-highlight-color: transparent;
        align-items: center;
        color: #88929e;
        color: var(--color-input-muted,#88929e);
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        padding: 16px 0 14px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .head-options+.head-options {
        margin-left: 24px;
    }
    .apply-headbar {
        background-color: #111111;
        box-shadow: 0 6px 17px 2px rgba(51,62,73,.08);
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        transition: transform .3s ease-out;
        padding: 10px !important;
    }

    /* -- Overview -- */
    .margins{
        padding-inline: 10% !important;
    }
    .label-3{
        position: relative;
        color: var(--green-1);
        font-weight: var(--weight-bold);
        text-transform: uppercase;
        letter-spacing: var(--letterSpacing-5);
        margin-block-end: 12px;
    }
    .over-list li{
        list-style: disc;
    }
    .over-list ul{
        padding-left: 30px;
    }
    .over-list .btn{
        max-width: 100%;
        width: 100%;
        margin-top: 70px;
    }
    .space-bottom-2{
        margin-bottom: 30px;
    }
    .navbar-apply{
        margin-top: 95px;
    }
    textarea[name="summary"]::placeholder {
        color: #88929e;
    }
    .dropzone-style{
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        align-items: center;
        background-color: var(--eerie-black-1);
        border: 1px dashed var(--white-alpha-20);
        border-radius: 8px;
        color: #88929e;
        color: var(--color-font-muted, #88929e);
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow: hidden;
        padding: 16px;
        position: relative;
        text-align: center;
        transition: border-color .1s ease-out;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .dropzone-style:hover{
        border: 1px dashed var(--green-1);
        transition: 0.5s;
    }
    .display-2 {
        flex: 1;
        margin-bottom: 50px;
    }
    .dropzone-style .dropzone-box {
        clip: rect(0 0 0 0);
        border: 0;
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    .display-3 {
        align-items: center;
        display: flex;
        min-height: 19px;
    }
    .style-dot {
        align-self: flex-start;
        padding-right: 2px;
        width: 7px;
    }
    .font-dot {
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-indent: 0;
        text-shadow: none;
        text-transform: none;
        word-spacing: normal;
        font-weight: 600!important;
        color: #d5351a;
        color: var(--color-font-danger, #d5351a);
    }
    .styles--3da4O {
        padding-bottom: 5px;
    }
    .upl-style {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
    }
    .upl-style p {
        font-weight: 600;
        margin: 0;
    }
    .secondary--2ySVn:not([aria-disabled*=true]), a.secondary--2ySVn:not([aria-disabled*=true]) {
        color: var(--green-1, #D97C2B);
    }
    .secondary--2ySVn, a.secondary--2ySVn {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        background-color: var(--black-alpha-80);
        border: 1px solid var(--green-1, #00756a);
        border-radius: 8px;
        color: var(--green-1, #D97C2B);
    }
    .file-label{
        display: flex;
    }
    .file-upload{
        padding-right: 10px;
    }
    .radio-group input[type="radio"]:checked{
        background-color: #D97C2B;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav > * {
        flex: 1;
    }
    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}
